WmMonitor/pub/wsdl/getAllProcessModels.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="ws_monitor_process_model" targetNamespace="http://localhost/"
			xmlns:tns="http://localhost/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:wsdns1="http://localhost/ws/monitor/process/model/getAllProcessModels">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/ws/monitor/process/model/getAllProcessModels" xmlns:tns="http://localhost/ws/monitor/process/model/getAllProcessModels" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
          <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
          <xsd:complexType name="__getAllProcessModelsOutput">
            <xsd:sequence>
              <xsd:element name="modelList" nillable="true" type="tns:ArrayOf__modelList" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__modelList">
            <xsd:sequence>
              <xsd:element name="modelName" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="modelId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="modelType" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="description" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="createdBy" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="processPath" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="deploymentVersion" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="executionEnabled" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="trackingEnabled" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="deploymentTime" nillable="true" type="xsd:anyType" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOf__modelList">
            <xsd:complexContent>
              <xsd:restriction base="SOAP_ENC:Array">
                <xsd:attribute ref="SOAP_ENC:arrayType" wsdl:arrayType="tns:__modelList[]"/>
              </xsd:restriction>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="getAllProcessModelsOutput">
		<wsdl:part name="modelList" type="wsdns1:ArrayOf__modelList"/>
	</wsdl:message>
	<wsdl:portType name="ws_monitor_process_modelPortType">
		<wsdl:operation name="getAllProcessModels">
			<wsdl:output message="tns:getAllProcessModelsOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws_monitor_process_modelBinding" type="tns:ws_monitor_process_modelPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAllProcessModels">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.model" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.model" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	</wsdl:definitions>
