WmMonitor/pub/wsdl/getEnabledProcessVersions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="ws_monitor_process_model" targetNamespace="http://localhost/"
			xmlns:tns="http://localhost/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:wsdns1="http://localhost/ws/monitor/process/model/getEnabledProcessVersions"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/ws/monitor/process/model/getEnabledProcessVersions" xmlns:tns="http://localhost/ws/monitor/process/model/getEnabledProcessVersions" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
          <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
          <xsd:complexType name="__getEnabledProcessVersionsInput">
            <xsd:sequence>
              <xsd:element name="inputs" nillable="true" type="tns:ArrayOfstring"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfstring">
            <xsd:complexContent>
              <xsd:restriction base="SOAP_ENC:Array">
                <xsd:attribute ref="SOAP_ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
              </xsd:restriction>
            </xsd:complexContent>
          </xsd:complexType>
          <xsd:complexType name="__getEnabledProcessVersionsOutput">
            <xsd:sequence>
              <xsd:element name="modelList" nillable="true" type="tns:ArrayOf__modelList" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__modelList">
            <xsd:sequence>
              <xsd:element name="key" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="version" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOf__modelList">
            <xsd:complexContent>
              <xsd:restriction base="SOAP_ENC:Array">
                <xsd:attribute ref="SOAP_ENC:arrayType" wsdl:arrayType="tns:__modelList[]"/>
              </xsd:restriction>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="_getEnabledProcessVersionsInput">
		<wsdl:part name="inputs" type="wsdns1:ArrayOfstring"/>
	</wsdl:message>
	
	<wsdl:message name="_getEnabledProcessVersionsOutput">
		<wsdl:part name="modelList" type="wsdns1:ArrayOf__modelList"/>
	</wsdl:message>
	<wsdl:portType name="ws_monitor_process_modelPortType">
		<wsdl:operation name="getEnabledProcessVersions">
			<wsdl:input message="tns:_getEnabledProcessVersionsInput"/>
			<wsdl:output message="tns:_getEnabledProcessVersionsOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws_monitor_process_modelBinding" type="tns:ws_monitor_process_modelPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getEnabledProcessVersions">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.model" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.model" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ws_monitor_process_modelService">
		<wsdl:port name="ws_monitor_process_modelPort0" binding="tns:ws_monitor_process_modelBinding">
			<soap:address location="http://localhost:5555/soap/rpc"/>
		</wsdl:port>
	</wsdl:service>
	</wsdl:definitions>
