WmMonitor/pub/wsdl/getInstanceActions.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="ws_monitor_process_instance" targetNamespace="http://localhost/"
			xmlns:tns="http://localhost/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:wsdns1="http://localhost/ws/monitor/process/instance/getActions">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/ws/monitor/process/instance/getActions" xmlns:tns="http://localhost/ws/monitor/process/instance/getActions" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
          <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
          <xsd:complexType name="__getActionsInput">
            <xsd:sequence>
              <xsd:element name="instanceId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="instanceIteration" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="stepId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="stepIteration" nillable="true" type="xsd:anyType" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__getActionsOutput">
            <xsd:sequence>
              <xsd:element name="actionList" nillable="true" type="tns:ArrayOf__actionList" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__actionList">
            <xsd:sequence>
              <xsd:element name="INSTANCEID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="INSTANCEITERATION" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="STEPLABEL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STEPID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STEPITERATION" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="ACTION" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="ACTIONDECODE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="USERNAME" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SERVERID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AUDITTIMESTAMP" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="AUDITTIMESTRING" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOf__actionList">
            <xsd:complexContent>
              <xsd:restriction base="SOAP_ENC:Array">
                <xsd:attribute ref="SOAP_ENC:arrayType" wsdl:arrayType="tns:__actionList[]"/>
              </xsd:restriction>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="getActionsInput">
		<wsdl:part name="instanceId" type="xsd:string"/>
		<wsdl:part name="instanceIteration" type="xsd:anyType"/>
		<wsdl:part name="stepId" type="xsd:string"/>
		<wsdl:part name="stepIteration" type="xsd:anyType"/>
	</wsdl:message>
	
	<wsdl:message name="getActionsOutput">
		<wsdl:part name="actionList" type="wsdns1:ArrayOf__actionList"/>
	</wsdl:message>
	<wsdl:portType name="ws_monitor_process_instancePortType">
		<wsdl:operation name="getActions">
			<wsdl:input message="tns:getActionsInput"/>
			<wsdl:output message="tns:getActionsOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws_monitor_process_instanceBinding" type="tns:ws_monitor_process_instancePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getActions">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.instance" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.instance" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	</wsdl:definitions>
