WmMonitor/pub/wsdl/getInstanceList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="ws_monitor_process_instance" targetNamespace="http://localhost/"
			xmlns:tns="http://localhost/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:wsdns1="http://localhost/ws/monitor/process/instance/getList"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/ws/monitor/process/instance/getList" xmlns:tns="http://localhost/ws/monitor/process/instance/getList" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
          <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
          <xsd:complexType name="__getListInput">
            <xsd:sequence>
              <xsd:element name="keyword" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="modelId" nillable="true" type="tns:ArrayOfstring" minOccurs="0"/>
              <xsd:element name="modelName" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="customId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="modelVersion" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="instanceId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="parentInstanceId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="status" nillable="true" type="tns:ArrayOfint" minOccurs="0"/>
              <xsd:element name="range" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="toDate" nillable="true" type="xsd:long" minOccurs="0"/>
              <xsd:element name="fromDate" nillable="true" type="xsd:long" minOccurs="0"/>
              <xsd:element name="filterOnLast" nillable="true" type="xsd:boolean" minOccurs="0"/>
              <xsd:element name="stepId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="user" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="role" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="maxRows" nillable="true" type="xsd:int" minOccurs="0"/>
              <xsd:element name="isAnd" nillable="true" type="xsd:boolean" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfstring">
            <xsd:complexContent>
              <xsd:restriction base="SOAP_ENC:Array">
                <xsd:attribute ref="SOAP_ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
              </xsd:restriction>
            </xsd:complexContent>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfint">
            <xsd:complexContent>
              <xsd:restriction base="SOAP_ENC:Array">
                <xsd:attribute ref="SOAP_ENC:arrayType" wsdl:arrayType="xsd:int[]"/>
              </xsd:restriction>
            </xsd:complexContent>
          </xsd:complexType>
          <xsd:complexType name="__getListOutput">
            <xsd:sequence>
              <xsd:element name="thumbnails" nillable="true" type="tns:ArrayOf__thumbnails" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__thumbnails">
            <xsd:sequence>
              <xsd:element name="instanceId" nillable="true" type="xsd:string"/>
              <xsd:element name="modelId" nillable="true" type="xsd:string"/>
              <xsd:element name="modelName" nillable="true" type="xsd:string"/>
              <xsd:element name="modelLabel" nillable="true" type="xsd:string"/>
              <xsd:element name="modelType" nillable="true" type="xsd:int"/>
              <xsd:element name="firstStatus" nillable="true" type="xsd:int"/>
              <xsd:element name="firstStatusDecode" nillable="true" type="xsd:string"/>
              <xsd:element name="firstTime" nillable="true" type="xsd:long"/>
              <xsd:element name="firstTimeString" nillable="true" type="xsd:string"/>
              <xsd:element name="lastStatus" nillable="true" type="xsd:int"/>
              <xsd:element name="lastStatusDecode" nillable="true" type="xsd:string"/>
              <xsd:element name="lastTime" nillable="true" type="xsd:long"/>
              <xsd:element name="lastTimeString" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOf__thumbnails">
            <xsd:complexContent>
              <xsd:restriction base="SOAP_ENC:Array">
                <xsd:attribute ref="SOAP_ENC:arrayType" wsdl:arrayType="tns:__thumbnails[]"/>
              </xsd:restriction>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:schema>
	</wsdl:types>
	<wsdl:message name="_getListInput">
		<wsdl:part name="keyword" type="xsd:string"/>
		<wsdl:part name="modelId" type="wsdns1:ArrayOfstring"/>
		<wsdl:part name="modelName" type="xsd:string"/>
		<wsdl:part name="customId" type="xsd:string"/>
		<wsdl:part name="instanceId" type="xsd:string"/>
		<wsdl:part name="parentInstanceId" type="xsd:string"/>
		<wsdl:part name="status" type="wsdns1:ArrayOfint"/>
  	<wsdl:part name="range" type="xsd:string"/>
		<wsdl:part name="toDate" type="xsd:long"/>
		<wsdl:part name="fromDate" type="xsd:long"/>
		<wsdl:part name="filterOnLast" type="xsd:boolean"/>
		<wsdl:part name="stepId" type="xsd:string"/>
		<wsdl:part name="user" type="xsd:string"/>
		<wsdl:part name="role" type="xsd:string"/>
		<wsdl:part name="maxRows" type="xsd:int"/>
		<wsdl:part name="isAnd" type="xsd:boolean"/>
	</wsdl:message>
	<wsdl:message name="_getListOutput">
		<wsdl:part name="thumbnails" type="wsdns1:ArrayOf__thumbnails"/>
	</wsdl:message>
	<wsdl:portType name="ws_monitor_process_instancePortType">
		<wsdl:operation name="getList">
			<wsdl:input message="tns:_getListInput"/>
			<wsdl:output message="tns:_getListOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws_monitor_process_instanceBinding" type="tns:ws_monitor_process_instancePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getList">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.instance" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.instance" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	</wsdl:definitions>
