WmMonitor/pub/wsdl/getInstanceStepDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="ws_monitor_process_instance" targetNamespace="http://localhost/"
			xmlns:tns="http://localhost/"
			xmlns:wsdns1="http://localhost/ws/monitor/process/instance/getStepDetails"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/ws/monitor/process/instance/getStepDetails" xmlns:tns="http://localhost/ws/monitor/process/instance/getStepDetails">
          <xsd:complexType name="__getStepDetailsInput">
            <xsd:sequence>
              <xsd:element name="instanceId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="instanceIteration" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="stepId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="stepIteration" nillable="true" type="xsd:anyType" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__getStepDetailsOutput">
            <xsd:sequence>
              <xsd:element name="details" nillable="true" type="tns:__details" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__details">
            <xsd:sequence>
              <xsd:element name="instanceId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="instanceIteration" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="stepId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="stepIteration" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="pipelineFlag" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="globalDataFlag" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="system" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="serverId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="serviceName" nillable="true" type="xsd:string"/>
              <xsd:element name="startTimeString" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="startTime" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="endTimeString" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="endTime" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="status" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="statusDecode" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="contextId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="stepName" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="getStepDetailsInput">
		<wsdl:part name="instanceId" type="xsd:string"/>
		<wsdl:part name="instanceIteration" type="xsd:anyType"/>
		<wsdl:part name="stepId" type="xsd:string"/>
		<wsdl:part name="stepIteration" type="xsd:anyType"/>
	</wsdl:message>
	
	<wsdl:message name="getStepDetailsOutput">
		<wsdl:part name="details" type="wsdns1:__details"/>
	</wsdl:message>
	<wsdl:portType name="ws_monitor_process_instancePortType">
		<wsdl:operation name="getStepDetails">
			<wsdl:input message="tns:getStepDetailsInput"/>
			<wsdl:output message="tns:getStepDetailsOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws_monitor_process_instanceBinding" type="tns:ws_monitor_process_instancePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getStepDetails">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.instance" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.instance" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ws_monitor_process_instanceService">
		<wsdl:port name="ws_monitor_process_instancePort0" binding="tns:ws_monitor_process_instanceBinding">
			<soap:address location="http://localhost:5555/soap/rpc"/>
		</wsdl:port>
	</wsdl:service>
	</wsdl:definitions>
