WmMonitor/pub/wsdl/getInstanceErrors.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="ws_monitor_process_instance" targetNamespace="http://localhost/"
			xmlns:tns="http://localhost/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			xmlns:wsdns1="http://localhost/ws/monitor/process/instance/getErrors">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/ws/monitor/process/instance/getErrors" xmlns:tns="http://localhost/ws/monitor/process/instance/getErrors" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
          <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
          <xsd:complexType name="__getErrorsInput">
            <xsd:sequence>
              <xsd:element name="instanceId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="instanceIteration" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="stepId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="stepIteration" nillable="true" type="xsd:anyType" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__getErrorsOutput">
            <xsd:sequence>
              <xsd:element name="errorList" nillable="true" type="tns:ArrayOf__errorList" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__errorList">
            <xsd:sequence>
              <xsd:element name="stepName" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="stepId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="instanceId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="contextId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="serverId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="serviceName" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="errorMessage" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="errorType" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="errorStackTrace" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="time" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="timeString" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOf__errorList">
            <xsd:complexContent>
              <xsd:restriction base="SOAP_ENC:Array">
                <xsd:attribute ref="SOAP_ENC:arrayType" wsdl:arrayType="tns:__errorList[]"/>
              </xsd:restriction>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="getErrorsInput">
		<wsdl:part name="instanceId" type="xsd:string"/>
		<wsdl:part name="instanceIteration" type="xsd:anyType"/>
		<wsdl:part name="stepId" type="xsd:string"/>
		<wsdl:part name="stepIteration" type="xsd:anyType"/>
	</wsdl:message>
	
	<wsdl:message name="getErrorsOutput">
		<wsdl:part name="errorList" type="wsdns1:ArrayOf__errorList"/>
	</wsdl:message>
	<wsdl:portType name="ws_monitor_process_instancePortType">
		<wsdl:operation name="getErrors">
			<wsdl:input message="tns:getErrorsInput"/>
			<wsdl:output message="tns:getErrorsOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws_monitor_process_instanceBinding" type="tns:ws_monitor_process_instancePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getErrors">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.instance" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.instance" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	</wsdl:definitions>
