WmMonitor/pub/wsdl/getInstanceActivityLogs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="ws_monitor_process_instance" targetNamespace="http://localhost/"
			xmlns:wsdns1="http://localhost/ws/monitor/process/instance/getActivityLogs"
			xmlns:tns="http://localhost/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/ws/monitor/process/instance/getActivityLogs" xmlns:tns="http://localhost/ws/monitor/process/instance/getActivityLogs" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
          <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
          <xsd:complexType name="__getActivityLogsInput">
            <xsd:sequence>
              <xsd:element name="instanceId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="instanceIteration" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="stepId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="stepIteration" nillable="true" type="xsd:anyType" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__getActivityLogsOutput">
            <xsd:sequence>
              <xsd:element name="activityLogList" nillable="true" type="tns:ArrayOf__activityLogList" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__activityLogList">
            <xsd:sequence>
              <xsd:element name="ROOTCONTEXTID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="PARENTCONTEXTID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="CONTEXTID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="STEPLABEL" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="ENTRYTYPE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="FULLMESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="BRIEFMESSAGE" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="SERVERID" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="B2BUSER" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="AUDITTIMESTAMP" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="AUDITTIMESTRING" nillable="true" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOf__activityLogList">
            <xsd:complexContent>
              <xsd:restriction base="SOAP_ENC:Array">
                <xsd:attribute ref="SOAP_ENC:arrayType" wsdl:arrayType="tns:__activityLogList[]"/>
              </xsd:restriction>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="getActivityLogsInput">
		<wsdl:part name="instanceId" type="xsd:string"/>
		<wsdl:part name="instanceIteration" type="xsd:anyType"/>
		<wsdl:part name="stepId" type="xsd:string"/>
		<wsdl:part name="stepIteration" type="xsd:anyType"/>
	</wsdl:message>
	
	<wsdl:message name="getActivityLogsOutput">
		<wsdl:part name="activityLogList" type="wsdns1:ArrayOf__activityLogList"/>
	</wsdl:message>
	<wsdl:portType name="ws_monitor_process_instancePortType">
		<wsdl:operation name="getActivityLogs">
			<wsdl:input message="tns:getActivityLogsInput"/>
			<wsdl:output message="tns:getActivityLogsOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws_monitor_process_instanceBinding" type="tns:ws_monitor_process_instancePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getActivityLogs">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.instance" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.instance" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	</wsdl:definitions>
