WmMonitor/pub/wsdl/getModelVersionImage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="ws_monitor_process_model" targetNamespace="http://localhost/"
			xmlns:tns="http://localhost/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:wsdns1="http://localhost/ws/monitor/process/model/getModelVersionImage"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/ws/monitor/process/model/getModelVersionImage" xmlns:tns="http://localhost/ws/monitor/process/model/getModelVersionImage">
          <xsd:complexType name="__getModelVersionImageInput">
            <xsd:sequence>
              <xsd:element name="modelId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="modelVersion" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="deployVersion" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="requestedType" nillable="true" type="xsd:anyType" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__getModelVersionImageOutput">
            <xsd:sequence>
              <xsd:element name="imageData" nillable="true" type="tns:__imageData" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__imageData">
            <xsd:sequence>
              <xsd:element name="imageStream" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="type" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="width" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="height" nillable="true" type="xsd:anyType" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="getModelVersionImageInput">
		<wsdl:part name="modelId" type="xsd:string"/>
		<wsdl:part name="modelVersion" type="xsd:string"/>
		<wsdl:part name="deployVersion" type="xsd:anyType"/>
		<wsdl:part name="requestedType" type="xsd:anyType"/>
	</wsdl:message>
	
	<wsdl:message name="getModelVersionImageOutput">
		<wsdl:part name="imageData" type="wsdns1:__imageData"/>
	</wsdl:message>
	<wsdl:portType name="ws_monitor_process_modelPortType">
		<wsdl:operation name="getModelVersionImage">
			<wsdl:input message="tns:getModelVersionImageInput"/>
			<wsdl:output message="tns:getModelVersionImageOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws_monitor_process_modelBinding" type="tns:ws_monitor_process_modelPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getModelVersionImage">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.model" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.model" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ws_monitor_process_modelService">
		<wsdl:port name="ws_monitor_process_modelPort0" binding="tns:ws_monitor_process_modelBinding">
			<soap:address location="http://localhost:5555/soap/rpc"/>
		</wsdl:port>
	</wsdl:service>
	</wsdl:definitions>
