WmMonitor/pub/wsdl/getModelImage.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="ws_monitor_process_model" targetNamespace="http://localhost/"
			xmlns:tns="http://localhost/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:wsdns1="http://localhost/ws/monitor/process/model/getModelImage"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/ws/monitor/process/model/getModelImage" xmlns:tns="http://localhost/ws/monitor/process/model/getModelImage">
          <xsd:complexType name="__getModelImageInput">
            <xsd:sequence>
              <xsd:element name="modelId" nillable="true" type="xsd:string" minOccurs="0"/>
              <xsd:element name="requestedType" nillable="true" type="xsd:anyType" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__getModelImageOutput">
            <xsd:sequence>
              <xsd:element name="imageData" nillable="true" type="tns:__imageData" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__imageData">
            <xsd:sequence>
              <xsd:element name="imageStream" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="type" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="width" nillable="true" type="xsd:anyType" minOccurs="0"/>
              <xsd:element name="height" nillable="true" type="xsd:anyType" minOccurs="0"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="getModelImageInput">
		<wsdl:part name="modelId" type="xsd:string"/>
		<wsdl:part name="requestedType" type="xsd:string"/>
	</wsdl:message>
	
	<wsdl:message name="getModelImageOutput">
		<wsdl:part name="imageData" type="wsdns1:__imageData"/>
	</wsdl:message>
	<wsdl:portType name="ws_monitor_process_modelPortType">
		<wsdl:operation name="getModelImage">
			<wsdl:input message="tns:getModelImageInput"/>
			<wsdl:output message="tns:getModelImageOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws_monitor_process_modelBinding" type="tns:ws_monitor_process_modelPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getModelImage">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.model" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.process.model" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	</wsdl:definitions>
