WmMonitor/pub/wsdl/getPipelineForEdit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
	<wsdl:definitions name="ws_monitor_edit" targetNamespace="http://localhost/"
			xmlns:tns="http://localhost/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
			xmlns:wsdns1="http://localhost/ws/monitor/edit/getPipelineForEdit"
			xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
			xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/ws/monitor/edit/getPipelineForEdit" xmlns:tns="http://localhost/ws/monitor/edit/getPipelineForEdit" xmlns:SOAP_ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
          <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
          <xsd:complexType name="__getPipelineForEditInput">
            <xsd:sequence>
              <xsd:element name="pipelineType" nillable="true" type="xsd:string"/>
              <xsd:element name="ID" nillable="true" type="xsd:string"/>
              <xsd:element name="instanceIteration" nillable="true" type="xsd:string"/>
              <xsd:element name="stepID" nillable="true" type="xsd:string"/>
              <xsd:element name="stepIteration" nillable="true" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="__getPipelineForEditOutput">
            <xsd:sequence>
              <xsd:element name="editPipe" nillable="true" type="tns:ArrayOfstring"/>
            </xsd:sequence>
          </xsd:complexType>
          <xsd:complexType name="ArrayOfstring">
            <xsd:complexContent>
              <xsd:restriction base="SOAP_ENC:Array">
                <xsd:attribute ref="SOAP_ENC:arrayType" wsdl:arrayType="xsd:string[]"/>
              </xsd:restriction>
            </xsd:complexContent>
          </xsd:complexType>
        </xsd:schema>

	</wsdl:types>
	
	<wsdl:message name="getPipelineForEditInput">
		<wsdl:part name="pipelineType" type="xsd:string"/>
		<wsdl:part name="ID" type="xsd:string"/>
		<wsdl:part name="instanceIteration" type="xsd:string"/>
		<wsdl:part name="stepID" type="xsd:string"/>
		<wsdl:part name="stepIteration" type="xsd:string"/>
	</wsdl:message>
	
	<wsdl:message name="getPipelineForEditOutput">
		<wsdl:part name="editPipe" type="wsdns1:ArrayOfstring"/>
	</wsdl:message>
	<wsdl:portType name="ws_monitor_editPortType">
		<wsdl:operation name="getPipelineForEdit">
			<wsdl:input message="tns:getPipelineForEditInput"/>
			<wsdl:output message="tns:getPipelineForEditOutput"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ws_monitor_editBinding" type="tns:ws_monitor_editPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getPipelineForEdit">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.edit" use="encoded"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://localhost/ws.monitor.edit" use="encoded"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	</wsdl:definitions>
